mixin logInput(iconClass, typeInput, placeholderInput, subclass, inputClass, name, minLength)
	div(class="login-input " + inputClass)
		span(class="login-input__icon "+subclass)
			i(aria-hidden="true" class="fa "+iconClass)
		input(
			id = name
			type = typeInput,
			placeholder = placeholderInput
			name = name
			minlength = minLength
			required
			).login-input__input