extends ../layout

block title
	title EDMS - Авторизация
block vars
	- var contentClassName = ''
	- var headerClassName = ''
	- var footerClassName = ''

block customScript
	script(src="js/index.js")
	
block content
	main(id="auth-block").auth-block
		.flip#flip-container
			| 404! Вы не туда попали!



	
