extends ../layout

block title
	title EDMS - Авторизация
block vars
	- var contentClassName = ''
	- var headerClassName = ''
	- var footerClassName = ''

block customScript
	script(src="js/index.js")
	
block content
	main(id="auth-block").auth-block
		.flip#flip-container
			form(type="post" id="sign-in").form-block.flip__elem
				header.form-block__header
					h2.form-block__title Войти
					small.form-block__alert
				.form-block__inputs
					+logInput('fa-user', 'text', 'Логин', '', 'form-block__input', 'userLogin', 5)
					+logInput('fa-key', 'password', 'Пароль', '', 'form-block__input', 'userPassword', 6)
				footer.form-block__footer
					button(type="submit").button.form-block__button Войти

			form(type="post" id="registration-stage-1").form-block.flip__elem.flip__elem_right
				header.form-block__header
					h2.form-block__title Зарегистрироваться
				.form-block__inputs
					+logInput('fa-user', 'text', 'Логин', '', 'form-block__input', 'userLogin', 5)
					+logInput('fa-key', 'password', 'Пароль', '', 'form-block__input', 'userPassword', 6)
					+logInput('fa-key', 'password', 'Подтвердите пароль', '', 'form-block__input', 'userPassword', 6)
				footer.form-block__footer
					button(type="submit").button.form-block__button Продолжить

			form(type="post" id="registration-stage-2").form-block.flip__elem.flip__elem_back
				header.form-block__header
					h2.form-block__title Учетные данные
					small.form-block__alert
				.form-block__inputs
					+logInput('fa-user', 'text', 'ФИО', '', 'form-block__input', 'userName', 0)
					+logInput('fa-key', 'password', 'Инвайт-код группы', '', 'form-block__input', 'groupInvite', 5)
					+logInput('fa-key', 'password', 'Инвайт-код пользователя', '', 'form-block__input', 'userInvite', 5)
				footer.form-block__footer
					button(type="submit").button.form-block__button Зарегистрироваться



	
